<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    <title></title>
    </head>
    <body> 
    <nav th:fragment="sidebarMenu" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}" aria-current="page" th:href="@{/}">
                <i data-feather="home" class="align-text-bottom"></i>
                Strona główna
              </a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}" th:href="@{/login}">
              <i data-feather="user" class="align-text-bottom"></i>
                Zaloguj
            </a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
              <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/register' ? 'active':''}" th:href="@{/register}">
                <i data-feather="user-plus" class="align-text-bottom"></i>
                Załóż konto
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/books' ? 'active':''}" th:href="@{/books}">
                <i data-feather="book" class="align-text-bottom"></i>
                Przeglądaj książki
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/borrows' ? 'active':''}" sec:authorize="hasAnyRole('reader', 'admin')" th:href="@{/borrows}">
                <i data-feather="book-open" class="align-text-bottom"></i>
                Wypożyczenia
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/editUser' ? 'active':''}" sec:authorize="hasAnyRole('reader', 'admin')" th:href="@{/editUser}">
                <i data-feather="user" class="align-text-bottom"></i>
                Edytuj dane użytkownika
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/editPriviliges' ? 'active':''}" sec:authorize="hasRole('admin')" th:href="@{/editPriviliges}">
                <i data-feather="users" class="align-text-bottom"></i>
                Edytuj uprawnienia użytkowników
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/editBooks' ? 'active':''}" sec:authorize="hasAnyRole('admin', 'librarian')" th:href="@{/editBooks}">
                <i data-feather="file-plus" class="align-text-bottom"></i>
                Edytuj lub dodaj książki
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/bookCart' ? 'active':''}" sec:authorize="hasAnyRole('admin', 'librarian')" th:href="@{/bookCart}">
                <i data-feather="shopping-cart" class="align-text-bottom"></i>
                Koszyk wypożyczeń
              </a>
            </li>
          </ul>
        </div>
    </nav>
    </body>
</html>