<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    <title></title>
    </head>
    <body>   
        <div th:fragment="content">

            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show fixed-top m-3" role="alert">
                <strong>Błąd!</strong><p th:text="${error}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
            <div th:if="${sucess}" class="alert alert-success alert-dismissible fade show fixed-top m-3" role="alert">
                <strong>Sukces!</strong><p th:text="${sucess}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
               <h1 class="h2">Register page</h1>
            </div>
            
            <div class="d-flex justify-content-center">
                <form th:action="@{/register}" method="post" class="w-50 pt-5">
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="username">Login</label>
                        <input type="text" id="username" name="login" required="true" class="form-control" th:value="${userDto?.login}" />
                    </div>
                                     
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" name="email" required="true" class="form-control" th:value="${userDto?.email}" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">Hasło</label>
                        <input type="password" id="password" name="password" required="true" class="form-control" />
                    </div>
                    
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password_ack">Powtórz hasło</label>
                        <input type="password" id="password_ack" name="passwordAck" required="true" class="form-control" />
                    </div>
                    
                    <label for="phone_number" class="form-label">Numer telefonu</label>
                    <input type="tel" pattern="[0-9]{9}" id="phone_number" class="form-control" name="phoneNumber" th:value="${userDto?.phoneNumber}"/>
                    <div id="phone_number" class="form-text">
                       Numet telefonu będzie używany tylko w celu weryfikacji rejestraji. Format: 9 cyfr np. 111222333
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4 mt-4">Zarejestruj</button>

                </form>
            </div>
        </div>
    </body>
</html>